%m-400 {
    font-family: "Montserrat-Regular";
    font-weight: 400;
}
%m-500 {
    font-family: "Montserrat-Medium";
    font-weight: 500;
}
%m-600 {
    font-family: "Montserrat-SemiBold";
    font-weight: 600;
}
%m-700 {
    font-family: "Montserrat-Bold";
    font-weight: 700;
}
%m-800 {
    font-family: "Montserrat-ExtraBold";
    font-weight: 800;
}
